html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: black;
  color: white;
  font-family: 'Share Tech Mono', monospace;
  font-weight: normal;
  min-height: 100vh;
  font-size: 14px;
  line-height: 1.2;
}

.App {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.App-header {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 3em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Share Tech Mono', monospace;
  font-weight: lighter;
}

h2 { font-size: 1.4em;}

button {
  appearance: none;
  display:inline-block;
  padding:0.35em 1.2em;
  background: transparent;
  border:0.1em solid white;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Exo',sans-serif;
  font-weight:300;
  font-size: 1em;
  color:white;
  text-align:center;
  transition: all 0.2s;
  cursor: pointer;
}
button:hover {
  color:black;
  background-color:white;
}

a, a:visited {
  color: white;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
}
  nav a {
    padding: 1em;
    text-decoration: underline;
    opacity: .8;
  }
    nav a.is-active,
    nav a:hover {
      opacity: 1;
    }

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
  ul li {
    padding: 2em .618em;
    text-align: center;
    width: 50%;
  }

article {
  margin-bottom: 2em;
  
}
article .content {
  padding: 2em 0;
}
article time {
  display: inline-block;
  padding: .618em;
  border-bottom: 1px solid white;
  opacity: .8;
  margin-bottom: 1em;
}
article small {
  display: inline-block;
  opacity: .8;
  font-size: 90%;
}
